[v-cloak] {
  display: none;
}

.user-can-drag {
  cursor: -webkit-grab;
  cursor: grab;
}

.is-dragging {
  // Important because plugin sets inline CSS
  opacity: 1!important;

  * {
    // !important to make sure no style can override this when dragging
    cursor: -webkit-grabbing;
    cursor: grabbing;
  }
}

.dropdown-menu-issues-board-new {
  width: 320px;

  .dropdown-content {
    max-height: 150px;
	}
}

.issue-board-dropdown-content {
  margin: 0 8px 10px;
  padding-bottom: 10px;
  border-bottom: 1px solid $dropdown-divider-color;

  > p {
    margin: 0;
    font-size: 14px;
    color: #9c9c9c;
  }
}

.issue-boards-page {
  .content-wrapper {
    display: -webkit-flex;
    display: flex;
    -webkit-flex-direction: column;
    flex-direction: column;
  }

  .sub-nav,
  .issues-filters {
    -webkit-flex: none;
    flex: none;
  }

  .page-with-sidebar {
    display: -webkit-flex;
    display: flex;
    min-height: 100vh;
    max-height: 100vh;
    padding-bottom: 0;
  }

  .issue-boards-content {
    display: -webkit-flex;
    display: flex;
    -webkit-flex: 1;
    flex: 1;
    width: 100%;

    .content {
      display: -webkit-flex;
      display: flex;
      -webkit-flex-direction: column;
      flex-direction: column;
      width: 100%;
    }
  }
}

.boards-app-loading {
  width: 100%;
  font-size: 34px;
}

.boards-list {
  display: -webkit-flex;
  display: flex;
  -webkit-flex: 1;
  flex: 1;
  -webkit-flex-basis: 0;
  flex-basis: 0;
  min-height: calc(100vh - 152px);
  max-height: calc(100vh - 152px);
  padding-top: 25px;
  padding-right: ($gl-padding / 2);
  padding-left: ($gl-padding / 2);
  overflow-x: scroll;

  @media (min-width: $screen-sm-min) {
    min-height: 475px;
    max-height: none;
  }
}

.board {
  display: -webkit-flex;
  display: flex;
  min-width: calc(85vw - 15px);
  max-width: calc(85vw - 15px);
  margin-bottom: 25px;
  padding-right: ($gl-padding / 2);
  padding-left: ($gl-padding / 2);

  @media (min-width: $screen-sm-min) {
    min-width: 400px;
    max-width: 400px;
  }
}

.board-inner {
  display: -webkit-flex;
  display: flex;
  -webkit-flex-direction: column;
  flex-direction: column;
  width: 100%;
  font-size: $issue-boards-font-size;
  background: $background-color;
  border: 1px solid $border-color;
  border-radius: $border-radius-default;
}

.board-header {
  border-top-left-radius: $border-radius-default;
  border-top-right-radius: $border-radius-default;

  &.has-border {
    border-top: 3px solid;

    .board-title {
      padding-top: ($gl-padding - 3px);
    }
  }
}

.board-header-loading-spinner {
  margin-right: 10px;
  color: $gray-darkest;
}

.board-inner-container {
  border-bottom: 1px solid $border-color;
  padding: $gl-padding;
}

.board-title {
  position: relative;
  margin: 0;
  padding: $gl-padding;
  font-size: 1em;
  border-bottom: 1px solid $border-color;
}

.board-search-container {
  position: relative;
  background-color: #fff;

  .form-control {
    padding-right: 30px;
  }
}

.board-search-icon,
.board-search-clear-btn {
  position: absolute;
  right: $gl-padding + 10px;
  top: 50%;
  margin-top: -7px;
  font-size: 14px;
}

.board-search-icon {
  color: $gl-placeholder-color;
}

.board-search-clear-btn {
  padding: 0;
  line-height: 1;
  background: transparent;
  border: 0;
  outline: 0;

  &:hover {
    color: $gl-link-color;
  }
}

.board-delete {
  margin-right: 10px;
  padding: 0;
  color: $gray-darkest;
  background-color: transparent;
  border: 0;
  outline: 0;

  &:hover {
    color: $gl-link-color;
  }
}

.board-blank-state {
  height: 100%;
  padding: $gl-padding;
  background-color: #fff;
}

.board-blank-state-list {
  list-style: none;

  > li:not(:last-child) {
    margin-bottom: 8px;
  }

  .label-color {
    position: relative;
    top: 2px;
    display: inline-block;
    width: 16px;
    height: 16px;
    margin-right: 3px;
    border-radius: $border-radius-default;
  }
}

.board-list {
  -webkit-flex: 1;
  flex: 1;
  height: 400px;
  margin-bottom: 0;
  padding: 5px;
  overflow-y: scroll;
  overflow-x: hidden;
}

.board-list-loading {
  margin-top: 10px;
  font-size: 26px;
}

.is-ghost {
  opacity: 0.3;
}

.card {
  position: relative;
  width: 100%;
  padding: 10px $gl-padding;
  background: #fff;
  border-radius: $border-radius-default;
  box-shadow: 0 1px 2px rgba(186, 186, 186, 0.5);
  list-style: none;

  &.user-can-drag {
    padding-left: $gl-padding;
  }

  &:not(:last-child) {
    margin-bottom: 5px;
  }

  a {
    cursor: pointer;
  }

  .label {
    border: 0;
    outline: 0;
  }

  .confidential-icon {
    margin-right: 5px;
  }
}

.card-title {
  margin: 0;
  font-size: 1em;

  a {
    color: inherit;
  }
}

.card-footer {
  margin-top: 5px;
  line-height: 25px;

  .label {
    margin-right: 4px;
    font-size: (14px / $issue-boards-font-size) * 1em;
  }
}

.card-number {
  margin-right: 8px;
  font-weight: 500;
}
